main {
    margin: 0 auto;
    max-width: 90%;
    padding: 50px 30px;
  }
  :root {
    --primary: #8c54ff;
    --secondary: #f3a847;
    --tertiary: #b12704;
    --light: #fafafa;
    --dark: #a9aaaa;
    --darker: #111111;
    --error: rgb(228, 46, 1);
    --spacing-one: calc(1rem * 0.5);
    --spacing-two: calc(1rem);
    --spacing-five: calc(2.5rem);
  }
  
  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    min-height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: 1.5;
    font-size: 18px;
    letter-spacing: 0.1em;
    background: var(--dark);
    color: var(--light);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex: auto;
  }

  .mainPageContent {
    background-image: url('./assets/gas\ pumper.jpg');
    width: 612px;
    height: 408px;
    display:flex;
    align-items: center;
    justify-content: center }
  

  .pageLanderContent {
    display: flex;
   align-items: center;
    }